<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many pairings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pairings
      </li>

      <% @user.pairings.each do |pairing| %>
        <li class="list-group-item">
          <a href="/pairings/<%= pairing.id %>">
            <%= pairing.cigar_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == pairing.user %>
              <a href="/pairings/<%= pairing.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many cigars -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cigars
      </li>

      <% @user.cigars.each do |cigar| %>
        <li class="list-group-item">
          <a href="/cigars/<%= cigar.id %>">
            <%= cigar.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cigars/<%= cigar.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cigars/<%= cigar.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cigar/<%= cigar.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many alcohols -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Alcohols
      </li>

      <% @user.alcohols.each do |alcohol| %>
        <li class="list-group-item">
          <a href="/alcohols/<%= alcohol.id %>">
            <%= alcohol.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alcohols/<%= alcohol.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alcohols/<%= alcohol.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alcohol/<%= alcohol.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
