<div class="page-header">
  <h3>Cigar #<%= @cigar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cigar.name %></dd>

      <dt>Origin</dt>
      <dd><%= @cigar.origin %></dd>

      <dt>Profile</dt>
      <dd><%= @cigar.profile %></dd>

      <dt>Price</dt>
      <dd><%= @cigar.price %></dd>

      <dt>Image</dt>
      <dd><%= @cigar.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cigars" class="btn btn-primary">
        Back
      </a>
      <a href="/cigars/<%= @cigar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cigar/<%= @cigar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
