<div class="page-header">
  <h3>Cigar #<%= @cigar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cigar.name %></dd>

      <dt>Origin</dt>
      <dd><%= @cigar.origin %></dd>

      <dt>Profile</dt>
      <dd><%= @cigar.profile %></dd>

      <dt>Price</dt>
      <dd><%= @cigar.price %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @cigar.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cigars" class="btn btn-primary">
        Back
      </a>
      <a href="/cigars/<%= @cigar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cigar/<%= @cigar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cigar has many pairings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pairings
      </li>

      <% @cigar.pairings.each do |pairing| %>
        <li class="list-group-item">
          <a href="/pairings/<%= pairing.id %>">
            <%= pairing.cigar_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pairings/<%= pairing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pairing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cigar_id -->
      <input type="hidden" name="cigar_id" value="<%= @cigar.id %>">

      <!-- Label and input for alcohol_id -->
      <div class="form-group">
        <label for="alcohol_id" class="control-label">
          Alcohol
        </label>

        <%= select_tag(:alcohol_id, options_from_collection_for_select(Alcohol.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Pairing
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Cigar has many alcohols -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Alcohols
      </li>

      <% @cigar.alcohols.each do |alcohol| %>
        <li class="list-group-item">
          <a href="/alcohols/<%= alcohol.id %>">
            <%= alcohol.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alcohols/<%= alcohol.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alcohols/<%= alcohol.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alcohol/<%= alcohol.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Cigar has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @cigar.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
