<div class="page-header">
  <h1>
    Pairings
    <a href="/pairings/new" class="btn btn-lg btn-success">New Pairing</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Cigar</th>
        <th>Alcohol</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @pairings.each do |pairing| %>
      <tr>
        <td>
          <% if pairing.cigar.present? %>
            <a href="/cigars/<%= pairing.cigar.id %>">
              <%= pairing.cigar.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if pairing.alcohol.present? %>
            <a href="/alcohols/<%= pairing.alcohol.id %>">
              <%= pairing.alcohol.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if pairing.user.present? %>
            <a href="/users/<%= pairing.user.id %>">
              <%= pairing.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == pairing.user %>
            <a href="/pairings/<%= pairing.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @pairings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
