<div class="page-header">
  <h3>Alcohol #<%= @alcohol.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @alcohol.name %></dd>

      <dt>Category</dt>
      <dd><%= @alcohol.category %></dd>

      <dt>Origin</dt>
      <dd><%= @alcohol.origin %></dd>

      <dt>Taste</dt>
      <dd><%= @alcohol.taste %></dd>

      <dt>Price</dt>
      <dd><%= @alcohol.price %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @alcohol.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/alcohols" class="btn btn-primary">
        Back
      </a>
      <a href="/alcohols/<%= @alcohol.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_alcohol/<%= @alcohol.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Alcohol has many pairings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pairings
      </li>

      <% @alcohol.pairings.each do |pairing| %>
        <li class="list-group-item">
          <a href="/pairings/<%= pairing.id %>">
            <%= pairing.cigar_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pairings/<%= pairing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Alcohol has many cigars -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cigars
      </li>

      <% @alcohol.cigars.each do |cigar| %>
        <li class="list-group-item">
          <a href="/cigars/<%= cigar.id %>">
            <%= cigar.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cigars/<%= cigar.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cigars/<%= cigar.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cigar/<%= cigar.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Alcohol has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @alcohol.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
